.login-wrp{
    background-image: url(https://st4.depositphotos.com/6999026/22139/v/450/depositphotos_221398246-stock-illustration-interior-background-luxury-men-clothing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}